/* Force to disable scroll-behavior: JQuery is handling this part (better control and stability) */
html { scroll-behavior: unset !important; }

.sticky { transition: all 500ms ease-in-out, margin-top 0, margin-bottom 0; }
.sticky.skip-transition { transition: none; }
.sticky.show { opacity:1; }

.sticky-top.show { top:0; }
.sticky-top { 
	transition: all 250ms ease-in-out;
	position:fixed; top:0%; 
    z-index:auto;
}

.sticky-bottom.show { bottom:0; }
.sticky-bottom { transition: all 800ms ease-in-out; }
.sticky-bottom { position:fixed; bottom:-100vh; }

.sticky-widget.show { opacity:1; }
.sticky-widget { 
    position:-webkit-sticky;
	position:sticky;
    top: 0;
}

.sticky-easein.show { opacity:1; }
.sticky-easein { opacity:0; }

.sticky-easeout.show { opacity:1; }
.sticky-easeout { opacity:0; }

